/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #FF6F00, #FF3E55, #7B2CBF, #00B4D8);
  background-size: 400% 400%;
  animation: gradientFlow 20s ease infinite;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.heading {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 30px;
  background: linear-gradient(90deg, #FFD700, #FF6F00);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#search-form {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

#search-box {
  padding: 14px 16px;
  width: 300px;
  border-radius: 12px;
  border: none;
  font-size: 1rem;
  outline: none;
}

#search-form button {
  padding: 14px 24px;
  background: linear-gradient(135deg, #ff416c, #ff4b2b);
  border: none;
  border-radius: 12px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

#search-form button:hover {
  opacity: 0.9;
}

#search-result {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  width: 100%;
  max-width: 1200px;
}

.image-card {
  background: transparent; 
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


.image-card:hover {
  transform: translateY(-8px);
}

.image-card img {
  width: 100%;
  display: block;
  aspect-ratio: 1 / 1; 
  object-fit: cover;   
  border-radius: 12px 12px 0 0;
}


.download-btn {
  display: block;
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #ff416c, #ff4b2b);
  color: white;
  font-weight: bold;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.download-btn:hover {
  opacity: 0.95;
}

#show-more-btn {
  display: none;
  margin-top: 40px;
  padding: 14px 30px;
  background: linear-gradient(135deg, #00c6ff, #0072ff);
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

#show-more-btn:hover {
  opacity: 0.9;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #ff3c38;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


